In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import utils
from sklearn import svm
%matplotlib inline

In [4]:
# Read the csv file and preprocess it: convert qualitative attributes to integers
train = pd.read_csv("train.csv")
X = train.agg(utils.transform_dataset) # utils.transform_dataset is a dicitionary which applies a transforming function on each column

X_train = X.sample(frac=0.8)
X_test = X.drop(X_train.index)

Y_train = X_train["Body_Level"]
Y_test = X_test["Body_Level"]

X_train = X_train.drop("Body_Level", axis=1)
X_test = X_test.drop("Body_Level", axis=1)
display(X_train)
display(X_test)

,Gender,Age,Height,Weight,H_Cal_Consump,Veg_Consump,Water_Consump,Alcohol_Consump,Smoking,Meal_Count,Food_Between_Meals,Fam_Hist,H_Cal_Burn,Phys_Act,Time_E_Dev,Transport
121,1,17.888073,1.841879,60.000000,1,3.000000,2.000000,0,0,3.732126,1,1,0,2.000934,0.384662,1
285,0,20.000000,1.580000,53.500000,1,2.000000,2.000000,1,0,1.000000,2,1,0,1.000000,1.000000,0
12,0,18.019572,1.701378,50.088468,1,1.601236,1.055019,1,0,3.433908,1,0,0,0.819269,1.030848,0
918,0,26.000000,1.637725,111.208963,1,3.000000,2.709140,1,0,3.000000,1,1,0,0.000000,0.110518,0
1359,1,44.000000,1.600000,80.000000,0,2.000000,3.000000,0,1,3.000000,1,1,0,0.000000,0.000000,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
595,0,26.591628,1.700000,78.008388,1,2.734314,3.000000,2,0,3.000000,1,1,0,0.897702,0.908271,0
92,0,18.656912,1.574017,41.220175,1,1.649974,1.549974,1,0,1.513835,1,0,0,0.227802,1.972926,0
1099,1,20.027764,1.611434,103.175516,1,2.983042,1.430444,0,0,1.109956,1,1,0,0.000000,1.690901,0
142,0,19.000000,1.564199,42.096062,1,3.000000,2.456581,0,0,1.894384,1,0,1,1.596576,0.997400,0
320,0,21.000000,1.500000,42.300000,0,1.000000,2.000000,0,0,1.000000,1,1,0,3.000000,0.000000,0

,Gender,Age,Height,Weight,H_Cal_Consump,Veg_Consump,Water_Consump,Alcohol_Consump,Smoking,Meal_Count,Food_Between_Meals,Fam_Hist,H_Cal_Burn,Phys_Act,Time_E_Dev,Transport
10,0,18.482070,1.700000,50.000000,1,1.592183,1.086391,1,0,3.535016,1,0,0,0.618913,1.000000,0
27,1,18.000000,1.840000,60.000000,1,3.000000,2.000000,1,0,4.000000,1,1,1,2.000000,0.000000,1
32,0,19.052833,1.546551,42.069992,1,3.000000,2.318736,0,0,1.735493,1,0,0,1.193486,0.745680,0
33,1,16.306870,1.752755,50.000000,1,2.310423,1.787843,1,0,3.558637,1,0,0,1.926592,0.828549,0
39,0,19.091346,1.603923,45.000000,0,3.000000,1.282460,1,0,3.000000,2,0,1,1.601950,0.000000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,1,25.100513,1.830596,118.424156,1,1.455602,2.363307,1,0,3.000000,1,1,0,1.144683,0.101026,0
1455,1,39.825592,1.706741,108.012603,1,2.487781,1.000000,0,0,3.755976,1,1,0,1.860765,0.000000,1
1457,1,30.200946,1.755926,112.289883,1,2.317734,2.152736,0,0,3.000000,1,1,0,0.000000,1.108145,1
1460,0,26.000000,1.613574,107.012256,1,3.000000,2.678779,1,0,3.000000,1,1,0,0.000000,0.508848,0
1463,0,23.000000,1.634688,82.628000,1,2.060922,2.235282,0,0,2.933409,1,1,0,0.380633,0.002600,0

In [5]:
clf = svm.SVC()
clf.fit(X_train, Y_train)
np.sum(clf.predict(X_test) == Y_test)/len(Y_test)

0.7423728813559322